body{
    margin: 0;
    min-height: 100vh;
    background-color:#091921;
}
ul{
    list-style-type:none;
    margin-top: 7%;
    text-align: center;
    display: flex;
    justify-content: center;
}
ul li{
    flex-grow: 1;
}
ul li a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #091921;
    background-color: #ff105e;
    font-size: 4rem;
    border-radius: 10px;
    transition: 0.6s ease;
    padding: 10px;  
}
ul li a:hover{
    background-color: snow;
}
.activated{
    background-color: snow;
}

/* above css is common ... */

.container{
    position: relative;
    margin: 20vh auto;
    background-color:#091921;
    border: 4px solid #ff105e;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(255,255,255,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 75vw;
    height: 50vh;
}
.container .txt{
    display: flex;
    width: 500px;
}
.container .txt h1{
    position: absolute;
    color: snow;
}
.container .time{
    margin: 20px auto;
    /* background-color: snow; */
}
.container .time input{
    margin: 0 3vw;
    width: 20vw;
    height: 20vw;
    background-color: snow;
    color: #091921;
    outline: none;
    border: solid 1px snow;
    border-radius: 10px;
    font-size: 3.5rem;
    text-align: center;
}
.container .time .select-css{
    width: 15vw;
    height: 15vw;
    font-size: 1.5rem;
    background-color: black;
    color: snow;
    border: solid 1px snow;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px;

}
.container .switchbtn{
    position: absolute;
    bottom: -20px;
    left: 30%;
    background-color: black;
    width: 40%;
    border: solid 1px black;
    border-radius: 20px;
    height: 15%;
    display: flex;
    overflow: hidden;
}
.container .switchbtn button{
    flex-grow: 1;
    border: none;
    outline: none;
    transition: ease 0.5s;
    cursor: pointer;
    font-size: 3rem;
}
#off{
    background-color: #f80757;
}
#on{
    background-color: #0a7eff;
    opacity: 0;
}