body{
    margin: 0;
    min-height: 100vh;
    background-color:#091921;
}
ul{
    list-style-type:none;
    margin-top: 7%;
    text-align: center;
    display: flex;
    justify-content: center;
}
ul li{
    flex-grow: 1;
}
ul li a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #091921;
    background-color: #ff105e;
    font-size: 4rem;
    border-radius: 10px;
    transition: 0.6s ease;
    padding: 10px;  
}
ul li a:hover{
    background-color: snow;
}
.activated{
    background-color: snow;
}

/* above css is common ... */

#container{
    margin: 15vh auto;
    background-color: #091921;
    border: 4px solid #93b0be;
    border-radius: 50%;
    box-shadow: 0 0 28px rgba(255,255,255,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 60vw;
    height: 25vw;
}
#container #time{
    text-align: center;
    letter-spacing: 5px;
    margin-top: 12%;
    color: snow;
    font-size: 6rem;
}
#buttondiv{
    margin: 0vw 10vw;
    display: flex;
}
#buttondiv button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    flex-grow: 1;
    margin-left: 20px;
    letter-spacing: 5px;
    text-align: center;
    font-size: 3rem;
    border:none;
    border-bottom: 2px solid #46a2cf;
    box-shadow: 0 0 28px rgba(255,255,255,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 100px;
    padding: 5% 5%;
    color: snow;
    background-color: #091921;
}
#buttondiv #start:focus,#stop:focus{
    outline: none;
    color: #091921;
    background-color: snow;
}
#reset{
    outline: none;
}
#buttondiv #reset:active{
    color: #091921;
    background-color: snow;
}
#run{
    width: 70%;
    margin-top: 10%;
    transition: .4s ease;
}
#static{
    margin: -60% 0 0 40%;
}